@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

.conten{
    width: 100%;
    font-family: 'Nunito', sans-serif;
}


.conten nav li a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    
}

.conten nav{
    list-style: none;  
    display: flex;
   justify-content:center;
   padding-left: 10%;
   padding-right: 10%;
}

.conten nav li a:hover{
    color: #681319;
    border-bottom: solid;
    border-bottom-color: #681319;
}

.conten nav li:hover{
    transform: scale(1.1);
}

#container .contenedor-campo .regis select{
    display: none;
}

.table thead th input{
    font-size: 18px;
    width: 150px;
    font-weight: 600;
    height: 30px;
    border-style: none;
}

.table thead th button{
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 4px 0px #ffffff
}

.table thead .bot{
    display: flex;
    justify-content: center;
    border: none;
    height: 46.5px;
    border-bottom: solid;
    border-bottom-color: #e0e0e0;
    border-bottom-width: 1px;
}

.table thead th button:hover{
    transform: scale(1.1);
}

.d-totales {
    display: none;
}

.d-totales2{
    display: none
}

.todo{
    display: flex;
    flex-direction: column; /*Alinear items en forma horizontal */
    align-items: center;
}

/* Movil */
@media screen and (max-width: 767px){
    
    .conten{
        overflow: auto;
        white-space: nowrap;
    }

    .conten nav{
        justify-content: normal;
        padding: 0px;
    }

    .d-carrusel{
        overflow: auto;
        white-space: nowrap;
    }

}