#container{
    padding: 5px 2% 5px 2%;
}


.form-register .alert{
    margin-left: -16px;
    margin-top: 20px;
}

.contenedor{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.contenedor label{
    margin-left: 3px;
}

.form-register{
    width: 60%;
    height: auto;
}

.form-register .boton-añadir{
    display: flex;
    justify-content: center;
}

.form-register .boton-añadir button{
    font-size: 20px;
    width: 120px;
    margin-left: -10px;
}

.form-register .boton-añadir a{
    font-size: 20px;
    width: 120px;
    margin-left: 10px;
}

#container .titulo-prov img{
    width: auto;
    height: 60px;
} 


/*======== Lista de Proveedores======*/
#container .titulo-prov{
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#container .titulo-prov h1{
    font-size: 35px;
    font-weight: 600;
}

#container .boton-crear{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#container .boton-crear a{
    font-size: 20px;
}

#container table tr th{
    text-align: center;
}

#container table tr td{
    text-align: center;
}

.contenedor-paginacion label{
    margin-left: 30px;
}

.contenedor-paginacion .paginacion{
    margin-left: 30px;
}



/*=======Paginador======*/
.paginador ul{
    padding: 15px;
    list-style: none;
    background: #FFF;
    margin-top: 15px;
    display: flex;   
    justify-content: flex-end;     
}
.paginador a, .pageselected{
    color: #681319;
    border: 1px solid #ddd;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 35px;
    text-decoration: none;
}
.paginador a:hover{
    background: #ddd;
    color: #681319;
}
.pageselected{
    color: #FFF;
    background: #681319;
    border: 1px solid #681319;
}

.contenedor-campo{
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.contenedor-campo .campo{
    width: 600px;
    display: flex;
}

.contenedor-campo .campo2{
    width: 270px;
    display: flex;
}

.contenedor-campo .campo2 p{
    font-size: 20px;
    font-weight: 600;
    margin-left: -10px;
    margin-top: 4px;
    margin-bottom: -20px;
 }

.contenedor-campo .campo p{
   font-size: 20px;
   font-weight: 600;
   margin-left: 5px;
   margin-top: 4px;
   margin-bottom: -20px;
}

.contenedor-campo .campo input{
    margin-left: 10px;
    width: 300px;
}

.contenedor-campo .campo2 select{
    margin-left: 10px;
    width: 80px;
}

.contenedor-campo .campo input{
    color: #ffffff;
}

.contenedor-campo .campo input:focus{
    color: #000000;
}



/* Movil */
@media screen and (max-width: 767px){

    #container .titulo-prov img{
        width: auto;
        height: 45px;
    } 

    #container .titulo-prov h1{
        font-size: 25px;
    } 

    .contenedor{
        font-size: 16px;
    }

    .form-register{
        width: 90%;
        height: auto;
    }

    .form-register .boton-añadir button{
        font-size: 18px;
        width: 100px;
        margin-left: -10px;
    }
    
    .form-register .boton-añadir a{
        font-size: 18px;
        width: 100px;
        margin-left: 10px;
    }
    
}